/* Add the icon to the feature-menu and activity steam */
#features-menu li a.icon-gallery span.icon {
  background: url(ob_atrium_gallery-icon.png) no-repeat;
}
span.spaces-feature.feature-ob_atrium_image_gallery {
  background: url(ob_atrium_gallery-icon.png) no-repeat -20px -40px;
}

/** Gallery Pages **/
.view-ob-atrium-gallery .views-view-grid tr:hover {
  background: none;
}
.view-ob-atrium-gallery .views-view-grid tr td:hover {
  background: #ecf4f8;
}
.view-ob-atrium-gallery.view-display-id-page_1 .field_gallery_titleimage_vname {
  float: left;
}
.view-ob-atrium-gallery.view-display-id-block_3 .field_imagefile_fid {
  float: left;
  margin-right: 10px;
}
div.main div.view.view-display-id-page_1 .markup {
  font-size: 12px;
}
/* Theme add links to be more obvious */
div.node-gallery div.node-links ul.links li.gallery_field_galleryreference a,
div.node-gallery div.node-links ul.links li.image_field_galleryreference a {
  color: #666;
  background: #eee;
  border: 1px solid #ccc;

  -moz-border-radius: 3px;
  border-radius: 3px;
  
  -moz-box-shadow: 0 1px 1px #ddd;
  -webkit-box-shadow: 0 1px 1px #ddd;
  box-shadow: 0 1px 1px #ddd;
  
  margin-left: 10px;
}
div.node-gallery div.node-links ul.links li.gallery_field_galleryreference a:hover,
div.node-gallery div.node-links ul.links li.image_field_galleryreference a:hover {
  color: #eee;
  background: #888;
  border-color: #999;
}

/*
view view-ob-atrium-gallery view-id-ob_atrium_gallery view-display-id-page_1 view-dom-id-7
view view-ob-atrium-gallery view-id-ob_atrium_gallery view-display-id-block_3 view-dom-id-8
*/

/* in dev styles */
/** Parent Gallery block */
#block-views-ob_atrium_image_gallery-block_1 .view-ob-atrium-image-gallery.view-id-ob_atrium_image_gallery .views-field.related-title {
  font-size: 1.2em;
}

#block-views-ob_atrium_image_gallery-block_1 .view-ob-atrium-image-gallery.view-id-ob_atrium_image_gallery .views-field.field_imagefile_fid {
  float: left;
  margin-right: 9px;
}

/** Comments block **/
#block-views-ob_atrium_image_gallery-block_3 .view-ob-atrium-image-gallery.view-id-ob_atrium_image_gallery.view-display-id-block_3 .grouping-content .grouped-content .views-field.field_imagefile_fid {
  float: right;
  margin-top: 70px;
  margin-right: -100px;
}
#block-views-ob_atrium_image_gallery-block_3 .view-ob-atrium-image-gallery.view-id-ob_atrium_image_gallery.view-display-id-block_3 .grouping-content .grouped-content .views-field.markup {
  margin-right: 110px;
}
